body{
    margin:0;
}
#log{
    background-color:rgb(231, 234, 236);
    padding:70px;
    margin:0px;
}
#wrongdetails{
    height:100vh;
    width:100%;
    display:none;
    position:fixed;
    place-items: center;
}
#wrongdetails>div{
    border-top:10px solid red;
    padding:30px;
    opacity:1;
    background-color:white;
    text-align:center;
    border-radius:20px;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#closedialog{
    background-color:red;
    border:0;
    border-radius:50%;
    font-size:20px;
    color:white;;
    position:absolute;
    top:0;
    left:10px;
}
#container{
    width:400px;
    margin:auto;
    background-color:white;
    border:1px solid #eeeeee;
    padding:30px 20px;
}
#container>form{
    display:flex;
    flex-direction:column;
    font-size:18px;
    gap:15px;
}
#container>form>a{
    color:blue;
    text-decoration:none;
    font-size:12px;
    margin-top:-8px;
}
#container>form input{
    padding:10px 8px;
    font-size:16px;
    border:1px solid rgb(168, 168, 168);
    cursor:default;
}
input:focus{
    outline:1px solid green;
}
form>input[type='submit']{
    background-color:#028858;
    color:white;
    border:0px;
    cursor:pointer;

}
#container>p{
    color:grey;
    font-size:14px;
}
#container>.link{
    text-align:center;
}
#container p>a{
    text-decoration:none;
}
@media all and (min-width:200px) and (max-width:600px)
{
    #container{
        width:90%;
    }
}