#navbar{
    margin:0;
    width:100%;
    padding:0;
}
@import url('http://fonts.cdnfonts.com/css/maison-neue');
body{
    font-family:Maison Neue Book,sans-serif;
}

#navbar>div{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid rgb(228, 228, 228);
    color:black;
    align-items:center;
    padding:0px 30px;
}
#acc>button{
    padding:10px;
    border:1px solid green;
    color:green;
    font-weight:bold;
    font-size:14px;
    background-color:white;
    margin-left:20px;
    border-radius:10px;
}
#acc>button:hover{
    background-color:#05ce78;
    color:white;
    border:0;
    transition:all 0.3s ease;
}
#navbar>div:first-child>div{
    display:flex;
    width:30%;
    gap:20px;
    align-items: center;
    cursor:pointer;
}
#navbar>div:first-child>div:last-of-type{
    justify-content: flex-end;
}

#navbar>div>div>a{
    color:rgb(179, 179, 179);
    font-size:16px;
    text-decoration: none;
}
#navbar>div:first-child a{
    color:black;
    font-size:18px;
}
#navbar>div:first-child a:hover{
    color:green;
}
#searchButton{
    border:0;
    background-color:white;
    font-size:18px;
    cursor:pointer;
}
#searchBox{
    visibility:hidden;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    display:flex;
    padding:0px;
    align-items: center;
}
#searchBox input{
    width:100%;
    padding:18px 20px;
    border:2px solid grey;
    border-radius:30px;
    font-size:20px;
}
#searchBox input:focus{
    outline:1px solid grey;
}
#searchBox button{
    font-size:20px;
    background-color: white;
    padding:0px;
    border-radius:50%;
    border:0;
    cursor:pointer;
    position:relative;
    right:60px;
}
#navbar img{
    width:50%;
    padding:22px 0px;
    display: block;
    margin:auto;
}
#navbar>div:nth-child(2)>div{
    width:70%;
    margin:auto;
    padding:17px;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
#navbar>div:nth-child(2) a:hover{
    text-decoration:underline 3px solid #05ce78;
}

#footer{
    margin: 0px -10px -10px -10px;
    font-size:16px;
    width:102%;
    padding:0;
}
#footer>div:first-child{
    align-items:center;
    padding:17px 30px;
    border-top:2px solid grey;
    border-bottom:2px solid rgb(228, 228, 228);
    
}
#footer>div:first-child>div{
    display:flex;
    width:65%;
    justify-content: space-around;
}
#footer>div:first-child a{
    color:black;
    text-decoration: none;    
}
#footer>div:first-child a:hover{
    color:green;
    text-decoration:underline;    
}
#footer>div:nth-child(2){
    width:90%;
    margin:auto;
    margin-bottom:20px;
}
#footer table{
    margin:auto;
    margin-top:40px;
}
#footer table th{
    width:30%;
    text-align:left;
    padding:10px;
}
#footer table td{
    text-align:left;
    padding:2px 10px;
}
#footer table td:hover{
    color:green;
    text-decoration:underline;
    cursor: pointer;
}
#footer table+div{
    margin-top:30px;
    display:flex;
    width:100%;
    justify-content: space-between;
}
#footer table+div>div{
    display:flex;
    align-items:center;
    gap:15px;
    font-size:18px;
}
#footer i{
    color:black
}
#footer i:hover{
    color:#05ce78;
    cursor:pointer;
}
#footer select{
    padding:10px 15px;
    margin-left:20px;
    color:grey;
    border:0px;
    outline:1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#footer select:hover{
    border:1px solid black;
    cursor:pointer;
}
#footer>div:last-child{
    border-top:2px solid rgb(228, 228, 228);
    align-items:center;
    padding:17px 30px;
    font-size:14px;
}
#footer>div:last-child>div{
    display:flex;
    width:60%;
    justify-content: space-around;
}
#footer>div:last-child a{
    color:black;
    text-decoration: none;    
}
#footer>div:last-child a:hover{
    color:green;
    text-decoration:underline;    
}
